<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

  <header class="mainheader">
    <div class="headerContainer">
        <div class="mainHeader">
            <img class="mainHeader__menu" src="./src/menuPNG.png" alt="">
            <div class="mainHeader__backgroundLogo"></div>
                <a href="/"><img class="mainHeader__navigation--logo" src="./src/logoPNG.png" alt="Logo de la cafeteria">        </a>
            <img class="mainHeader__location" src="./src/placeholderPNG.png" alt=""> 
            <div class="mainHeader__navigation">
                <a class="mainHeader__navigation--items" href="/quienes_somos">Quienes somos</a>
                <a class="mainHeader__navigation--items" href="/tienda">Productos</a>
                <a class="mainHeader__navigation--items" href="/contacto">Contactenos</a>
                <a class="mainHeader__navigation--items" href="/donde_ubicarnos">Donde ubicarnos</a>
            </div>
        </div>
    </div>
  </header>

  {{{ body }}}

  <footer class="footer">
    <div class="footer__filter">
    </div>
        <div class="footer__information">
            <p>Entérate de <strong>promociones</strong> y <strong>nuevos productos</strong> suscribiendote a nuestro <strong>newsletter: <input type="text" placeholder="Escribe tu correo aquí" class="footer__input"></strong></p>
        </div>
        <nav class="footer__navegation">
            <a class="footer__navegation--links" href="#">Escríbenos</a>
            <a class="footer__navegation--links" href="#">Productos</a>
            <a class="footer__navegation--links" href="#">Mapa del sitio</a>
            <a class="footer__navegation--links" href="#">Términos y condiciones</a>
            <a class="footer__navegation--links" href="#">Política de privacidad</a>
        </nav>
  </footer>
  
</body>
</html>