.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;


    &__primary {
      width: 100%;
      height: 300px;
      background-image: url("../src/Content1.png");
      background-size: cover;
      filter: blur(2px);

        &--box {
          width: 100%;
          height: 20%;
          background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
          position: relative;
          top: 80%;
        }

        &--text {
          margin: auto 10px;
          color: whitesmoke;
          font-family: Saira;
          font-size: 45px;
          font-family: 'Courgette', cursive;
        }
    }
    
    &__secondary {
      height: 300px;
      filter: blur(2px);
      
        &--right {
          width: 50%;
          background-image: url("../src/Content3.png");
          background-size: cover;
        }
        
        &--left {
          width: 50%;
          background-image: url("../src/Content2.png");
          background-size: cover;
        }

        &--box {
          padding: 10px;
          width: 100%;
          height: 20%;
          background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
          position: relative;
          top: 80%;
        }

        &--text {
          margin: auto 10px;
          color: whitesmoke;
          font-family: Saira;
          font-size: 35px;
          font-family: 'Courgette', cursive;
        }
    }
}
.content :hover {
  filter: blur(0px);
}

@media (max-width: $breakpoint-sm) {
  .content {
    
    &__primary {
      height: 150px;
      filter: blur(0px);

      &--text {
        font-size: 13px;
      }
    }
    
    &__secondary {
      height: 150px;
      filter: blur(0px);

      &--text {
        font-size: 12px;
        margin: -10px 10px 0px 10px;
      }
    }
  }
}