.headerContainer {
    height: 80px;
}

.mainHeader {
    display: flex;
    background-color: burlywood;
    height: 100%;
    position: relative;
    
    &__menu {
        display: none;
    }
    
    &__location {
        display: none;
    }
    
    &__navigation {
        width: 80%;
        margin: auto;
        position: relative;
        
        &--items {
            text-decoration: none;
            color: whitesmoke;
            justify-content: space-between;
            position: relative;
            margin-left: 12%
        }
        
        &--logo {
            width: 150px;
            position: absolute;
            left: 40%;
            top: 50%;
        }
    }
    
}

@media (max-width: 650px) {
    .mainHeader {
        height: 90%;
        
        &__menu {
            display: flex;
            position: absolute;
            width: 9%;
            margin: 10px 20px;
        }

        &__location {
            display: flex;
            position: absolute;  
            width: 9%;
            margin: 10px 20px;
            right: 0px; 
        }

        &__navigation--items {
            display: none;
        }
    }
}

/*@media (max-width: 450px) {
    .mainHeader {
        height: 80%;
    }
}*/