.headerContainer {
    height: 80px;
}

.mainHeader {
    display: flex;
    background-color: burlywood;
    height: 100%;
    position: relative;
    
    &__menu {
        display: none;
    }
    
    &__location {
        display: none;
    }

    &__backgroundLogo {
        background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 67.19%, rgba(196, 196, 196, 0) 100%);
        opacity: 100;
        border-radius: 50px;
        width: 15%;
        height: 220%;
        z-index: 1;
        left: 40%;
        position: absolute;
        top: 50%;
    }
    
    &__navigation {
        width: 80%;
        margin: auto;
        position: relative;
        
        &--items {
            text-decoration: none;
            color: whitesmoke;
            padding: 5px 7px;
        }
        
        &--logo { 
            width: 100%;
            position: absolute; 
            opacity: 100;
        }

        &--mobile {
            display: flex !important;
            flex-direction: column;
            background-color: black;
            width: 40%;
            position: absolute;
            left: 0px;
            margin: 0px;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .mainHeader {
        height: 90%;
        
        &__menu {
            display: flex;
            position: absolute;
            width: 9%;
            margin: 10px 20px;
        }

        &__location {
            display: flex;
            position: absolute;  
            width: 9%;
            margin: 10px 20px;
            right: 0px; 
        }

        &__navigation {

            &--mobile {
                flex-direction: column;
                display: flex !important;
            }

        }

    }
}

/*@media (max-width: 450px) {
    .mainHeader {
        height: 80%;
    }
}*/