* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.headerContainer {
  height: 80px;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: burlywood;
  height: 100%;
  position: relative;
}

.mainHeader__menu {
  display: none;
}

.mainHeader__location {
  display: none;
}

.mainHeader__navigation {
  width: 80%;
  margin: auto;
  position: relative;
}

.mainHeader__navigation--items {
  text-decoration: none;
  color: whitesmoke;
  padding: 5px 7px;
}

.mainHeader__navigation--logo {
  width: 150px;
  position: absolute;
  left: 40%;
  top: 50%;
}

.mainHeader__navigation--mobile {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  width: 40%;
  position: absolute;
  left: 0px;
  margin: 0px;
}

@media (max-width: 650px) {
  .mainHeader {
    height: 90%;
  }
  .mainHeader__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 9%;
    margin: 10px 20px;
  }
  .mainHeader__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 9%;
    margin: 10px 20px;
    right: 0px;
  }
  .mainHeader__navigation--mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/*@media (max-width: 450px) {
    .mainHeader {
        height: 80%;
    }
}*/
.slider {
  width: 100%;
  overflow: hidden;
}

.slider ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  -webkit-animation: change 20s infinite;
          animation: change 20s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.slider li {
  list-style: none;
  width: 100%;
  position: relative;
}

.slider__image {
  width: 100%;
  height: 80%;
}

.slider__item {
  width: 100%;
  height: 10%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 70%;
}

.slider__item--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 40px;
  bottom: -0%;
  position: relative;
}

/*@keyframes change{
    0% { margin-left: 0; }
    20% { margin-left: 0; }
  
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
  
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
  
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
  }*/
@media (max-width: 650px) {
  .slider__image {
    height: 60%;
  }
  .slider__item {
    width: 100%;
    height: 10%;
    background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    top: 60%;
  }
  .slider__item--text {
    color: whitesmoke;
    font-family: Saira;
    font-size: 20px;
    bottom: -15%;
    position: relative;
  }
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__primary {
  width: 100%;
  height: 300px;
  background-image: url(/src/Content1.png);
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.content__primary--box {
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: 80%;
}

.content__primary--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 45px;
}

.content__secondary {
  height: 300px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.content__secondary--right {
  width: 50%;
  background-image: url(/src/Content3.png);
  background-size: cover;
}

.content__secondary--left {
  width: 50%;
  background-image: url(/src/Content2.png);
  background-size: cover;
}

.content__secondary--box {
  padding: 10px;
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: 80%;
}

.content__secondary--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 35px;
}

.content :hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@media (max-width: 650px) {
  .content__primary {
    height: 160px;
  }
  .content__primary--text {
    font-size: 20px;
  }
  .content__secondary {
    height: 160px;
  }
  .content__secondary--text {
    font-size: 15px;
    margin: -10px 10px 0px 10px;
  }
}

.gallery {
  width: 100%;
  height: 300px;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
}

.gallery li {
  list-style: none;
  width: 100%;
  margin: 5px;
  position: relative;
}

.gallery__item {
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 80%;
}

.gallery__image {
  height: 100%;
  border-radius: 10px;
}

.gallery__image--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 20px;
  bottom: -45%;
  position: relative;
}

@media (max-width: 650px) {
  .gallery {
    height: 150px;
  }
  .gallery__item {
    height: 30%;
  }
  .gallery__image {
    height: 100%;
    border-radius: 10px;
  }
  .gallery__image--text {
    font-size: 15px;
  }
}

.footer {
  background: url(/src/FooterCafeteria.png);
  height: 400px;
  width: 100%;
}

.footer__information {
  color: whitesmoke;
  font-size: 50px;
}

.footer__input {
  width: 20%;
  height: 40px;
}

.footer__navegation {
  background-color: grey;
  padding: 10px;
  width: 100%;
}

.footer__navegation--links {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  width: 20%;
}

.footer p {
  margin: 0px;
}

@media (max-width: 650px) {
  .footer {
    height: 250px;
    width: 100%;
  }
  .footer__information {
    margin: 0px 0px 0px 0px;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 10px;
  }
  .footer__input {
    width: 20%;
    height: 40px;
  }
  .footer__navegation {
    padding: 10px;
    width: 100%;
  }
  .footer__navegation--links {
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */