@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courgette|Handlee&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0px;
  font-family: 'Courgette', cursive, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.headerContainer {
  height: 80px;
}

.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: burlywood;
  height: 100%;
  position: relative;
}

.mainHeader__menu {
  display: none;
}

.mainHeader__location {
  display: none;
}

.mainHeader__backgroundLogo {
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 67.19%, rgba(196, 196, 196, 0) 100%);
  opacity: .9;
  border-radius: 50px;
  width: 15%;
  z-index: 1;
  left: 40%;
  top: 50%;
  position: absolute;
}

.mainHeader__navigation {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainHeader__navigation--items {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  height: 100%;
  padding: 30px 20px;
}

.mainHeader__navigation--items:hover {
  background-color: #b99565;
}

.mainHeader__navigation--logo {
  width: 15%;
  left: 41%;
  top: 50%;
  position: absolute;
  opacity: 100;
  z-index: 2;
}

.mainHeader__navigation--mobile {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  width: 40%;
  position: absolute;
  left: 0px;
  margin: 0px;
}

@media (max-width: 650px) {
  .mainHeader {
    height: 90%;
  }
  .mainHeader__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 9%;
    margin: 10px 20px;
  }
  .mainHeader__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 9%;
    margin: 10px 20px;
    right: 0px;
  }
  .mainHeader__navigation {
    display: none;
  }
  .mainHeader__navigation--items {
    font-size: 14px;
  }
  .mainHeader__navigation--logo {
    width: 30%;
    left: 35%;
  }
  .mainHeader__navigation--mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    z-index: 2;
  }
}

/*@media (max-width: 450px) {
    .mainHeader {
        height: 80%;
    }
}*/
.slider {
  width: 100%;
  height: 560px;
  overflow: hidden;
}

.slider ul {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  position: relative;
  height: 100%;
  -webkit-animation: change 20s infinite;
          animation: change 20s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.slider li {
  list-style: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__image {
  width: 100%;
  height: 100%;
}

.slider__item {
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  bottom: 0px;
}

.slider__item--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 40px;
  bottom: -0%;
  padding-left: 30px;
  position: relative;
  font-family: 'Courgette', cursive;
}

@-webkit-keyframes change {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes change {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@media (max-width: 650px) {
  .slider {
    height: 200px;
  }
  .slider__image {
    height: 100%;
  }
  .slider__item {
    width: 100%;
    height: 10%;
    background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    top: 90%;
  }
  .slider__item--text {
    color: whitesmoke;
    font-family: 'Courgette', cursive;
    font-size: 12px;
    bottom: -15%;
    position: relative;
  }
  .slider li {
    list-style: none;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content__primary {
  width: 100%;
  height: 300px;
  background-image: url(/src/Content1.png);
  background-size: cover;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.content__primary--box {
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: 80%;
}

.content__primary--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 45px;
  font-family: 'Courgette', cursive;
}

.content__secondary {
  height: 300px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.content__secondary--right {
  width: 50%;
  background-image: url(/src/Content3.png);
  background-size: cover;
}

.content__secondary--left {
  width: 50%;
  background-image: url(/src/Content2.png);
  background-size: cover;
}

.content__secondary--box {
  padding: 10px;
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left top, right top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: 80%;
}

.content__secondary--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 35px;
  font-family: 'Courgette', cursive;
}

.content :hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@media (max-width: 650px) {
  .content__primary {
    height: 150px;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  .content__primary--text {
    font-size: 13px;
  }
  .content__secondary {
    height: 150px;
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  .content__secondary--text {
    font-size: 12px;
    margin: -10px 10px 0px 10px;
  }
}

.gallery {
  width: 100%;
  height: 350px;
  overflow-y: hidden;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90%;
  margin: 0px;
  padding: 0px;
}

.gallery__title {
  font-size: 30px;
  margin: 10px 0px 0px 40px;
}

.gallery li {
  list-style: none;
  width: 100%;
  margin: 5px;
  position: relative;
}

.gallery__item {
  width: 100%;
  height: 20%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-18.88%, #000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 -18.88%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 80%;
}

.gallery__image {
  height: 100%;
  border-radius: 10px;
}

.gallery__image--text {
  margin: auto 10px;
  color: whitesmoke;
  font-family: Saira;
  font-size: 20px;
  bottom: -45%;
  position: relative;
  font-family: 'Handlee', cursive;
}

@media (max-width: 650px) {
  .gallery {
    height: 150px;
  }
  .gallery__content {
    width: 100%;
    height: 80%;
    margin: 0px;
  }
  .gallery__item {
    height: 20%;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-15.88%, #000000), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, #000000 -15.88%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 80%;
  }
  .gallery__title {
    font-size: 16px;
    margin: 10px 0px 0px 20px;
  }
  .gallery__image {
    height: 100%;
    border-radius: 10px;
  }
  .gallery__image--text {
    font-size: 12px;
    margin: -5px 10px;
  }
}

.footer {
  background: url(/src/FooterCafeteria.png);
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.footer__input {
  padding: 10px 10px;
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  color: #353535;
  background: #fcfcfc;
  -webkit-box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.2) inset;
          box-shadow: 4px 3px 5px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.66);
  font-size: 16px;
}

.footer__filter {
  width: 100%;
  height: 100%;
  background-color: royalblue;
  opacity: 20%;
  position: absolute;
}

.footer__information {
  color: whitesmoke;
  font-size: 50px;
  position: relative;
  top: 20%;
  text-align: center;
}

.footer__input {
  width: 20%;
  height: 40px;
  font-family: 'Handlee', cursive;
  color: black;
}

.footer__navegation {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 40%;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__navegation--links {
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 20px;
  margin: 0px 20px;
}

.footer__navegation--links:hover {
  background-color: #4b4646;
}

.footer p {
  margin: 0px;
}

@media (max-width: 650px) {
  .footer {
    height: 200px;
    width: 100%;
  }
  .footer__information {
    margin: 0px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 10px;
  }
  .footer__input {
    width: 50%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
  }
  .footer__navegation {
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 200px;
    margin-top: -30px;
    display: inline-block;
  }
  .footer__navegation--links {
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.interaction {
  height: 600px;
  width: 100%;
  background-image: url(/src/Tabla_De_Madera.png);
  background-size: cover;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interaction__card--left {
  width: 30%;
  height: 70%;
  background-color: whitesmoke;
  display: inline-block;
  position: relative;
  margin: 0px auto 0px 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 0;
}

.interaction__card--center {
  width: 30%;
  height: 70%;
  background-image: url(/src/IceCream.png);
  background-size: cover;
  display: inline-block;
  position: relative;
  margin: 0px auto 0px 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interaction__card--right {
  width: 30%;
  height: 70%;
  background-image: url(/src/IceCream.png);
  background-size: cover;
  display: inline-block;
  position: relative;
  margin: 0px auto 0px 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interaction__card--left {
  width: 30%;
  height: 70%;
  background-image: url(/src/HeladoSad.png);
  background-size: cover;
  display: inline-block;
  position: relative;
  margin: 0px auto 0px 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interaction__cardHidden {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  background-color: rosybrown;
  z-index: 1;
}

.interaction__text {
  color: #473939;
  text-align: center;
  font-size: 48px;
  font-family: 'Handlee', cursive;
  margin: 0px 0px 10px 0px;
  padding-top: 20px;
  z-index: 1;
}

.interaction__cardContent--center {
  z-index: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-30%, #000000), color-stop(144%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 -30%, rgba(0, 0, 0, 0) 144%);
  bottom: 0px;
}

.interaction__cardContent--right {
  z-index: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-30%, #000000), color-stop(144%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 -30%, rgba(0, 0, 0, 0) 144%);
  bottom: 0px;
  display: block;
}

.interaction__cardContent--left {
  z-index: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-30%, #000000), color-stop(144%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000000 -30%, rgba(0, 0, 0, 0) 144%);
  bottom: 0px;
  display: block;
}

.cardContent--center {
  width: 100%;
  color: blanchedalmond;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  margin: 0px;
  z-index: 0;
}

.cardContent--right {
  width: 100%;
  color: blanchedalmond;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  margin: 0px;
  z-index: 0;
}

.cardContent--left {
  width: 100%;
  color: blanchedalmond;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  margin: 0px;
  z-index: 0;
}

@media (max-width: 650px) {
  .interaction {
    height: 250px;
  }
  .interaction__card {
    height: 60%;
  }
  .interaction__text {
    font-size: 15px;
  }
  .cardContent--left {
    font-size: 12px;
  }
  .cardContent--center {
    font-size: 12px;
  }
  .cardContent--right {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */