$breakpoint-sm: 650px;

*{
    box-sizing: border-box;
}

html, body {
    margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}




@import 'header';
@import 'slider';
@import 'mainContent';
@import 'footer';
@import 'interaction';